
.big-counter {
    text-align: center;
    background: rgb(8, 7, 75);
}

.big-counter div {
    display: inline-block;
    font-size: 60px;
    background: #1e4375;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin: 3px;
}

.barra1 {
    background: #1e4375;

}